
/.vscode
*.raw
*.mhd
*.npy
*.hdf5
*.pyc
*.h5
*.pb
.idea/workspace.xml
*.B234-ANNA
*.txt
/mnist/input_data
/mnist/log
/mnist/out
/mnist/out_without_dropout
/mnist/__pycache__
/mnist/.idea
/mnist/raw/conv_output
/mnist/raw/conv_weights